<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<br/><br/>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-1" style="border:0px solid black">
                    {% comment %} <h1>{% url 'forum/vote/up'|add:post.0.pk %}</h1> {% endcomment %}
                    <span style = "font-size:24px" class = "d-flex justify-content-center {% if is_up == True %}text-success {% else %} text-info{% endif %}" onclick = "window.location.replace('/forum/vote/up/{{post.pk}}')"><i class="fas fa-chevron-up"></i></span>
                    <small class="d-flex justify-content-center">{{count}}</small>
                    <span style = "font-size:24px" class = "d-flex justify-content-center {% if is_up == True %}text-danger {% else %} text-info{% endif %}" onclick = "window.location.replace('/forum/vote/up/{{post.pk}}')"><i class="fas fa-chevron-down"></i></span>
                    </div>
                    <div class="col-md-11">
                    <kbd>Board<span class = "badge badge-primary text-body"><a href = "/forum/h/{{post.hole.hole}}" class = "a_white" style = "font-size:12px">{{post.hole.hole}}</a></span></kbd>
                    <span class = "text-grey">|&nbsp;</span><span class="badge badge-warning"><a href = "/forum/u/{{post.user.username}}" class="a_white">{{post.user.username}}</a></span>
                    <span class = "text-grey">|&nbsp;</span><span class="badge badge-light">{{post.creation_datetime}}</span>
                    <br/><br/>
                    <a href = "/forum/post/{{post.pk}}" class = "a_title"><p>{{post.title}}</p></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">

                {% if post.image %}
                <div class = "jumbotron">
                <a href = "{{post.0.image.url}}">
                <img class = "img-fluid" src = "{{post.image.url}}">     
                </a>
                </div>         
                {% endif %}
                        {{post.post}}
                    </div>
                </div>
            </div>
            <div class="card-footer">{{post.pk}}</div>
        </div>
                    <a href="/forum/reply/{{post.pk}}">comment</a>

        <div class = "container jumbotron">
        {% for r in reply %}
        <p>
        <h4>{{r.0.post}}</h4>
        <ol style = "list-style-type:none">
        {% for rr in r.1 %}
        <li><h7>{{rr.post}}</h7><br/>
        {% endfor %}
        </ol>
        <a href="/forum/reply/{{r.0.pk}}">reply</a>
        <hr/>
        {% endfor %}
        </div>
        {% comment %} <code>{{verbose}}</code> {% endcomment %}
{% endblock content %}