<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <hr />
        {% comment %} repeat {% endcomment %}
        {% for post in posts %}
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-1" style="border:1px solid black">
                    <small class = "{% if post.2 == True %}text-success {% else %} text-danger{% endif %}">up&nbsp;&nbsp;&nbsp;</small>
                    <small>{{post.1}}</small>
                    <small class = "{% if post.2 == False %}text-success {% else %} text-danger{% endif %}">Down&nbsp;&nbsp;&nbsp;</small>
                    </div>
                    <div class="col-md-11">
                    board:<a href = "/forum/h/{{post.0.hole.hole}}">{{post.0.hole.hole}}</a>
                    &oplus;<a href = "/forum/u/{{post.0.user.username}}">{{post.0.user.username}}</a>
                    &oplus;{{post.0.creation_datetime}}
                    <br/>
                    <p>{{post.0.title}}</p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        {{post.0.post}}
                    </div>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
        {% endfor %}
        {% comment %} end repeat {% endcomment %}
    </div>
    <div class="col-md-3">
        {% block post_base %}
        {% endblock post_base %}
    </div>
</div>
{% endblock content %}